<html>
<head>
</head>
<body>
Dear Candidates,
<br>
Greetings !!!
<br>
{{ drive_obj.company_name }} is hiring for {{ drive_obj.designation }}.
<br>
Description: {{ drive_obj.description }}
<br>
Package: {{ drive_obj.package }}
<br>
Drive Date: {{ drive_obj.drive_date }}
<br>
Last date to apply: {{ drive_obj.deadline }}
<br>
<br>
Apply Link: <a href="{{ drive_obj.apply_link }}">Click Here</a>
<br>
<br>
<br>
<br>
<br>
Best Regards,
<br>
TPO Cell,
<br>
JSPM's Bhivarabai College of Engineering and Research Wagholi, Pune-412207
</body>
</html>